body {
    margin: 1em;
    padding: 0;
    background: #111;
    color: white;
    font-family: helvetica;
}

canvas {
    border: solid 1px red;
    width: 800px;
    height: 400px;
}

#scoreboard {
    padding-bottom: 1em;
}

#label, #score, #bar {
    float: left;
    padding: 8px;
}

#pause_menu, #restart_menu {
    display: none;
}